$white-off-200: #eff0f3;
$white07: #eff0f3e8;
$yellow-200: #f9bc60;
$green-200: #004643;
$lightgreen: #abd1c6;
$lightgreen2: #91adab;
$lightgreen3: #627C7A;
$accent-green: #31afb4;
$lightblue: #606D8F;
$dark-blue: #27405e;
$lightpink: #947391;

$font-family: "Ballinger-Regular";
