$white: #eff0f3;
$white07: #eff0f3e8;
$yellow: #f9bc60;
$green: #004643;
$lightgreen: #abd1c6;
$lightgreen2: #91adab;
$lightgreen3: #627C7A;
$accent-green: #31afb4;
$light-blue: #606D8F;
$dark-blue: #27405e;
$light-pink: #947391;

$font-family: "Ballinger-Regular";
